@font-face {
    font-family: 'Berlin Type';
    src: url("../fonts/subset-BerlinType-Regular.woff2") format('woff2'), url("../fonts/subset-BerlinType-Regular.woff") format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: 'Berlin Type';
    src: url("../fonts/subset-BerlinType-Bold.woff2") format('woff2'), url("../fonts/subset-BerlinType-Bold.woff") format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: 'Vetrino';
    src: url("../fonts/subset-VetrinoRegular.woff2") format('woff2'), url("../fonts/subset-VetrinoRegular.woff") format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}