.news-item {
    @media(min-width: $middle) {
        display: flex;
        gap: 30px;
    }

    &__image {
        min-width: 180px;
        width: 180px;
        @media(max-width: $middle - 0.01px) {
            display: none;
        }

        img {
            display: block;
        }
    }

    &__text-block {}

    &__title {
        color: var(--green);
        font-size: 21px;
        font-weight: 700;
        line-height: 1.38095;
        margin-bottom: 8px;
        @media(min-width: $lg) {
            font-size: 24px;
        }

        a {
            color: inherit;
            text-decoration: none;
            @include hover {
                color: var(--beige);
            }
        }
    }
}

.news-grid {
    display: grid;
    grid-template-columns: repeat(2, calc(50% - 12px));
    gap: 64px 24px;
    @media(min-width: 600px) {
        grid-template-columns: repeat(3, calc(100% / 3 - 16px));
    }
    @media(min-width: 960px) {
        grid-template-columns: repeat(3, calc(100% / 3 - 22px));
        gap: 64px 32px;
    }
}

.news {
    &__image {
        margin-bottom: 16px;
        @media(min-width: $middle) {
            margin-bottom: 20px;
        }

        img {
            display: block;
            width: 100%;
        }
    }

    &__date {
        color: var(--green);
        font-size: 10px;
        margin-bottom: 10px;
        @media(min-width: $middle) {
            font-size: 16px;
        }
    }

    &__title {
        color: var(--green);
        font-weight: 700;
        line-height: 1.2;
        margin-bottom: 10px;
        @media(min-width: $md) {
            font-size: 16px;
            text-transform: uppercase;
        }
        @media(min-width: $middle) {
            font-size: 21px;
            text-transform: uppercase;
        }

        a {
            color: inherit;
            text-decoration: none;
            @include hover {
                color: var(--beige);
            }
        }
    }

    &__preview {
        font-size: 10px;
        margin-bottom: 0;
        @media(min-width: $md) {
            font-size: 14px;
        }
        @media(min-width: $middle) {
            font-size: 16px;
        }
    }
}

.news-detail {
    &__date {
        color: var(--green);
        font-size: 10px;
        margin-bottom: 10px;
        @media(min-width: $middle) {
            font-size: 16px;
        }
    }

    &__banner {
        border-bottom: none !important;
        margin-bottom: 24px;
        @media(min-width: $middle) {
            margin-bottom: 48px;
        }
    }
}