.questions {
    background-color: var(--grey2);
    padding-top: 112px;
    padding-bottom: 112px;

    &__inner {
        @media(min-width: $middle) {
            align-items: center;
            display: flex;
            gap: 60px;
            justify-content: space-between;
        }
    }

    &__text-block {}

    &__title {
        margin-bottom: 8px !important;
    }

    &__text {
        margin-bottom: 30px;
        max-width: 40ch;
        @media(min-width: $middle) {
            font-size: 18px;
        }
        @media(min-width: $lg) {
            font-size: 21px;
            margin-bottom: 40px;
        }
    }

    &__button {
        max-width: 360px;
        width: 100%;
        @media(min-width: $middle) {
            max-width: 384px;
        }
    }

    &__image {
        max-width: 485px;
        @media(min-width: $middle) {
            margin-top: calc(0.01px - var(--section_vertical_padding));
            margin-bottom: calc(0.01px - var(--section_vertical_padding));
        }
        @media(max-width: $middle - 0.01px) {
            display: none;
        }

        img {
            display: block;
        }
    }
}