<div class="about-news page__sections">
    <div class="container">
        <div class="page__sections-columns">
            <section class="page__section">
                <h2 class="title">О нас</h2>

                <p>Компания «Твоя обувь» представляет на оптовом рынке Санкт-Петербурга и Северо-Западного региона коллекции ведущих производителей обуви уже более 20 лет.</p>

                <p>Наша компания ставит своей целью создать все условия для успешного сотрудничества с оптовыми покупателями.</p>

                <p>Мы поможем Вам сформировать ассортимент Вашего магазина!</p>

                <div class="about-news__button-block"><a class="button" href="#">Компания в лицах</a></div>
            </section>

            <section class="page__section">
                <h2 class="title">Новости</h2>

                <div class="news-item">
                    <div class="news-item__image">
                        <a href="#">
                            <img src="images/content/news/img.jpg" srcset="images/content/news/img@2x.jpg 2x" alt="">
                        </a>
                    </div>
                    <div class="news-item__text-block">
                        <h3 class="news-item__title"><a href="#">Черная неделя, скидки 15%</a></h3>
                        <p>Выбирайте любую обувь из каталога и покупайте с гарантированной скидкой 15%. Скидка применяется к заказу после его оформления.</p>
                        <p>Акция доступна всем зарегистрированным пользователям. Сроки проведения акции до 20 декабря 2023 включительно.</p>
                    </div>
                </div>

                <div class="about-news__button-block"><a class="button" href="#">Больше новостей</a></div>
            </section>
        </div>
    </div>
</div>