<section class="page__section">
    <div class="container">
        <div class="js-brands brands">
            <div>
                <img src="images/content/brands/img_1.png" srcset="images/content/brands/img_1.png 2x" alt="">
                <div>KfL</div>
            </div>
            <div>
                <img src="images/content/brands/img_2.png" srcset="images/content/brands/img_2.png 2x" alt="">
                <div>BONAVI</div>
            </div>
            <div>
                <img src="images/content/brands/img_3.png" srcset="images/content/brands/img_3.png 2x" alt="">
                <div>ТОФА</div>
            </div>
            <div>
                <img src="images/content/brands/img_4.png" srcset="images/content/brands/img_4.png 2x" alt="">
                <div>MAKFINE</div>
            </div>
            <div>
                <img src="images/content/brands/img_5.png" srcset="images/content/brands/img_5.png 2x" alt="">
                <div>ESCAN</div>
            </div>
            <div>
                <img src="images/content/brands/img_6.png" srcset="images/content/brands/img_6.png 2x" alt="">
                <div>betsy</div>
            </div>
            <div>
                <img src="images/content/brands/img_1.png" srcset="images/content/brands/img_1.png 2x" alt="">
                <div>KfL</div>
            </div>
            <div>
                <img src="images/content/brands/img_2.png" srcset="images/content/brands/img_2.png 2x" alt="">
                <div>BONAVI</div>
            </div>
            <div>
                <img src="images/content/brands/img_3.png" srcset="images/content/brands/img_3.png 2x" alt="">
                <div>ТОФА</div>
            </div>
            <div>
                <img src="images/content/brands/img_4.png" srcset="images/content/brands/img_4.png 2x" alt="">
                <div>MAKFINE</div>
            </div>
            <div>
                <img src="images/content/brands/img_5.png" srcset="images/content/brands/img_5.png 2x" alt="">
                <div>ESCAN</div>
            </div>
            <div>
                <img src="images/content/brands/img_6.png" srcset="images/content/brands/img_6.png 2x" alt="">
                <div>betsy</div>
            </div>
        </div>
    </div>
</section>