<div class="card">
    <div class="card__image">
        <a href="#">
            <img src="images/content/catalog/img.jpg" srcset="images/content/catalog/img.jpg 2x" alt="">
        </a>
    </div>
    <p class="card__price">1000₽</p>
    <p class="card__art">Артикул: 403056-1</p>
    <div class="card__info">
        Бренд: KfL<br>
        Материал: Натуральная кожа<br>
        Осталось: 3 шт.
    </div>
    <div class="card__buy-block">
        <div class="qnt">
            <button class="qnt__button" type="button" title="Уменьшить">
                <svg aria-hidden="true">
                    <use xlink:href="images/sprite.svg#minus_icon" />
                </svg>
            </button>
            <input class="qnt__input" type="text" value="1" readonly>
            <button class="qnt__button" type="button" title="Увеличить">
                <svg aria-hidden="true">
                    <use xlink:href="images/sprite.svg#plus_icon" />
                </svg>
            </button>
        </div>
        <a class="card__button button" href="#">в корзину</a>
    </div>
</div>
<div class="card">
    <div class="card__image">
        <a href="#">
            <img src="images/content/catalog/img.jpg" srcset="images/content/catalog/img.jpg 2x" alt="">
        </a>
    </div>
    <p class="card__price">1000₽</p>
    <p class="card__art">Артикул: 403056-1</p>
    <div class="card__info">
        Бренд: KfL<br>
        Материал: Натуральная кожа<br>
        Осталось: 3 шт.
    </div>
    <div class="card__buy-block">
        <div class="qnt">
            <button class="qnt__button" type="button" title="Уменьшить">
                <svg aria-hidden="true">
                    <use xlink:href="images/sprite.svg#minus_icon" />
                </svg>
            </button>
            <input class="qnt__input" type="text" value="1" readonly>
            <button class="qnt__button" type="button" title="Увеличить">
                <svg aria-hidden="true">
                    <use xlink:href="images/sprite.svg#plus_icon" />
                </svg>
            </button>
        </div>
        <a class="card__button button" href="#">в корзину</a>
    </div>
</div>
<div class="card">
    <div class="card__image">
        <a href="#">
            <img src="images/content/catalog/img.jpg" srcset="images/content/catalog/img.jpg 2x" alt="">
        </a>
    </div>
    <p class="card__price">1000₽</p>
    <p class="card__art">Артикул: 403056-1</p>
    <div class="card__info">
        Бренд: KfL<br>
        Материал: Натуральная кожа<br>
        Осталось: 3 шт.
    </div>
    <div class="card__buy-block">
        <div class="qnt">
            <button class="qnt__button" type="button" title="Уменьшить">
                <svg aria-hidden="true">
                    <use xlink:href="images/sprite.svg#minus_icon" />
                </svg>
            </button>
            <input class="qnt__input" type="text" value="1" readonly>
            <button class="qnt__button" type="button" title="Увеличить">
                <svg aria-hidden="true">
                    <use xlink:href="images/sprite.svg#plus_icon" />
                </svg>
            </button>
        </div>
        <a class="card__button button" href="#">в корзину</a>
    </div>
</div>
<div class="card">
    <div class="card__image">
        <a href="#">
            <img src="images/content/catalog/img.jpg" srcset="images/content/catalog/img.jpg 2x" alt="">
        </a>
    </div>
    <p class="card__price">1000₽</p>
    <p class="card__art">Артикул: 403056-1</p>
    <div class="card__info">
        Бренд: KfL<br>
        Материал: Натуральная кожа<br>
        Осталось: 3 шт.
    </div>
    <div class="card__buy-block">
        <div class="qnt">
            <button class="qnt__button" type="button" title="Уменьшить">
                <svg aria-hidden="true">
                    <use xlink:href="images/sprite.svg#minus_icon" />
                </svg>
            </button>
            <input class="qnt__input" type="text" value="1" readonly>
            <button class="qnt__button" type="button" title="Увеличить">
                <svg aria-hidden="true">
                    <use xlink:href="images/sprite.svg#plus_icon" />
                </svg>
            </button>
        </div>
        <a class="card__button button" href="#">в корзину</a>
    </div>
</div>
<div class="card">
    <div class="card__image">
        <a href="#">
            <img src="images/content/catalog/img.jpg" srcset="images/content/catalog/img.jpg 2x" alt="">
        </a>
    </div>
    <p class="card__price">1000₽</p>
    <p class="card__art">Артикул: 403056-1</p>
    <div class="card__info">
        Бренд: KfL<br>
        Материал: Натуральная кожа<br>
        Осталось: 3 шт.
    </div>
    <div class="card__buy-block">
        <div class="qnt">
            <button class="qnt__button" type="button" title="Уменьшить">
                <svg aria-hidden="true">
                    <use xlink:href="images/sprite.svg#minus_icon" />
                </svg>
            </button>
            <input class="qnt__input" type="text" value="1" readonly>
            <button class="qnt__button" type="button" title="Увеличить">
                <svg aria-hidden="true">
                    <use xlink:href="images/sprite.svg#plus_icon" />
                </svg>
            </button>
        </div>
        <a class="card__button button" href="#">в корзину</a>
    </div>
</div>
<div class="card">
    <div class="card__image">
        <a href="#">
            <img src="images/content/catalog/img.jpg" srcset="images/content/catalog/img.jpg 2x" alt="">
        </a>
    </div>
    <p class="card__price">1000₽</p>
    <p class="card__art">Артикул: 403056-1</p>
    <div class="card__info">
        Бренд: KfL<br>
        Материал: Натуральная кожа<br>
        Осталось: 3 шт.
    </div>
    <div class="card__buy-block">
        <div class="qnt">
            <button class="qnt__button" type="button" title="Уменьшить">
                <svg aria-hidden="true">
                    <use xlink:href="images/sprite.svg#minus_icon" />
                </svg>
            </button>
            <input class="qnt__input" type="text" value="1" readonly>
            <button class="qnt__button" type="button" title="Увеличить">
                <svg aria-hidden="true">
                    <use xlink:href="images/sprite.svg#plus_icon" />
                </svg>
            </button>
        </div>
        <a class="card__button button" href="#">в корзину</a>
    </div>
</div>
<div class="card">
    <div class="card__image">
        <a href="#">
            <img src="images/content/catalog/img.jpg" srcset="images/content/catalog/img.jpg 2x" alt="">
        </a>
    </div>
    <p class="card__price">1000₽</p>
    <p class="card__art">Артикул: 403056-1</p>
    <div class="card__info">
        Бренд: KfL<br>
        Материал: Натуральная кожа<br>
        Осталось: 3 шт.
    </div>
    <div class="card__buy-block">
        <div class="qnt">
            <button class="qnt__button" type="button" title="Уменьшить">
                <svg aria-hidden="true">
                    <use xlink:href="images/sprite.svg#minus_icon" />
                </svg>
            </button>
            <input class="qnt__input" type="text" value="1" readonly>
            <button class="qnt__button" type="button" title="Увеличить">
                <svg aria-hidden="true">
                    <use xlink:href="images/sprite.svg#plus_icon" />
                </svg>
            </button>
        </div>
        <a class="card__button button" href="#">в корзину</a>
    </div>
</div>
<div class="card">
    <div class="card__image">
        <a href="#">
            <img src="images/content/catalog/img.jpg" srcset="images/content/catalog/img.jpg 2x" alt="">
        </a>
    </div>
    <p class="card__price">1000₽</p>
    <p class="card__art">Артикул: 403056-1</p>
    <div class="card__info">
        Бренд: KfL<br>
        Материал: Натуральная кожа<br>
        Осталось: 3 шт.
    </div>
    <div class="card__buy-block">
        <div class="qnt">
            <button class="qnt__button" type="button" title="Уменьшить">
                <svg aria-hidden="true">
                    <use xlink:href="images/sprite.svg#minus_icon" />
                </svg>
            </button>
            <input class="qnt__input" type="text" value="1" readonly>
            <button class="qnt__button" type="button" title="Увеличить">
                <svg aria-hidden="true">
                    <use xlink:href="images/sprite.svg#plus_icon" />
                </svg>
            </button>
        </div>
        <a class="card__button button" href="#">в корзину</a>
    </div>
</div>
<div class="card">
    <div class="card__image">
        <a href="#">
            <img src="images/content/catalog/img.jpg" srcset="images/content/catalog/img.jpg 2x" alt="">
        </a>
    </div>
    <p class="card__price">1000₽</p>
    <p class="card__art">Артикул: 403056-1</p>
    <div class="card__info">
        Бренд: KfL<br>
        Материал: Натуральная кожа<br>
        Осталось: 3 шт.
    </div>
    <div class="card__buy-block">
        <div class="qnt">
            <button class="qnt__button" type="button" title="Уменьшить">
                <svg aria-hidden="true">
                    <use xlink:href="images/sprite.svg#minus_icon" />
                </svg>
            </button>
            <input class="qnt__input" type="text" value="1" readonly>
            <button class="qnt__button" type="button" title="Увеличить">
                <svg aria-hidden="true">
                    <use xlink:href="images/sprite.svg#plus_icon" />
                </svg>
            </button>
        </div>
        <a class="card__button button" href="#">в корзину</a>
    </div>
</div>
<div class="card">
    <div class="card__image">
        <a href="#">
            <img src="images/content/catalog/img.jpg" srcset="images/content/catalog/img.jpg 2x" alt="">
        </a>
    </div>
    <p class="card__price">1000₽</p>
    <p class="card__art">Артикул: 403056-1</p>
    <div class="card__info">
        Бренд: KfL<br>
        Материал: Натуральная кожа<br>
        Осталось: 3 шт.
    </div>
    <div class="card__buy-block">
        <div class="qnt">
            <button class="qnt__button" type="button" title="Уменьшить">
                <svg aria-hidden="true">
                    <use xlink:href="images/sprite.svg#minus_icon" />
                </svg>
            </button>
            <input class="qnt__input" type="text" value="1" readonly>
            <button class="qnt__button" type="button" title="Увеличить">
                <svg aria-hidden="true">
                    <use xlink:href="images/sprite.svg#plus_icon" />
                </svg>
            </button>
        </div>
        <a class="card__button button" href="#">в корзину</a>
    </div>
</div>
<div class="card">
    <div class="card__image">
        <a href="#">
            <img src="images/content/catalog/img.jpg" srcset="images/content/catalog/img.jpg 2x" alt="">
        </a>
    </div>
    <p class="card__price">1000₽</p>
    <p class="card__art">Артикул: 403056-1</p>
    <div class="card__info">
        Бренд: KfL<br>
        Материал: Натуральная кожа<br>
        Осталось: 3 шт.
    </div>
    <div class="card__buy-block">
        <div class="qnt">
            <button class="qnt__button" type="button" title="Уменьшить">
                <svg aria-hidden="true">
                    <use xlink:href="images/sprite.svg#minus_icon" />
                </svg>
            </button>
            <input class="qnt__input" type="text" value="1" readonly>
            <button class="qnt__button" type="button" title="Увеличить">
                <svg aria-hidden="true">
                    <use xlink:href="images/sprite.svg#plus_icon" />
                </svg>
            </button>
        </div>
        <a class="card__button button" href="#">в корзину</a>
    </div>
</div>
<div class="card">
    <div class="card__image">
        <a href="#">
            <img src="images/content/catalog/img.jpg" srcset="images/content/catalog/img.jpg 2x" alt="">
        </a>
    </div>
    <p class="card__price">1000₽</p>
    <p class="card__art">Артикул: 403056-1</p>
    <div class="card__info">
        Бренд: KfL<br>
        Материал: Натуральная кожа<br>
        Осталось: 3 шт.
    </div>
    <div class="card__buy-block">
        <div class="qnt">
            <button class="qnt__button" type="button" title="Уменьшить">
                <svg aria-hidden="true">
                    <use xlink:href="images/sprite.svg#minus_icon" />
                </svg>
            </button>
            <input class="qnt__input" type="text" value="1" readonly>
            <button class="qnt__button" type="button" title="Увеличить">
                <svg aria-hidden="true">
                    <use xlink:href="images/sprite.svg#plus_icon" />
                </svg>
            </button>
        </div>
        <a class="card__button button" href="#">в корзину</a>
    </div>
</div>