<section class="contacts-section page__section">
    <div class="container">
        <h2 class="title">Мы находимся<br> в 1-й минуте от метро</h2>

        <div class="contacts-section__row">
            <div class="contacts-section__block">
                <p class="contacts-section__item">
                    <svg aria-hidden="true">
                        <use xlink:href="images/sprite.svg#pin2_icon" />
                    </svg>
                    <span>
                        <b>г. Санкт-Петербург, Московский&nbsp;пр.&nbsp;139 лит.&nbsp;А</b><br>
                        м. Электросила
                    </span>
                </p>
            </div>

            <div class="contacts-section__block">
                <p class="contacts-section__item">
                    <svg aria-hidden="true">
                        <use xlink:href="images/sprite.svg#clock_icon" />
                    </svg>
                    <b>пн - сб: 11:00 — 19:00</b>
                </p>
            </div>
        </div>

        <h2 class="title">Контакты</h2>

        <div class="contacts-section__row">
            <div class="contacts-section__block contacts-section__block--phones">
                <a class="contacts-section__item" href="tel:+78126774512">
                    <svg aria-hidden="true">
                        <use xlink:href="images/sprite.svg#phone2_icon" />
                    </svg>
                    <b>+7 (812) 677-45-12</b>
                </a>
                <br>
                <a class="contacts-section__item" href="tel:+78126774513">
                    <b>+7 (812) 677-45-13</b>
                </a>
                <br>
                <a class="contacts-section__item" href="tel:+78126774516">
                    <b>+7 (812) 677-45-16</b>
                </a>
                <br>
                <a class="contacts-section__item" href="tel:+78126774528">
                    <b>+7 (812) 677-45-28</b>
                </a>
            </div>

            <div class="contacts-section__block">
                <a class="contacts-section__item" href="mailto:shop@tvoyaobuv.ru">
                    <svg aria-hidden="true">
                        <use xlink:href="images/sprite.svg#envelope2_icon" />
                    </svg>
                    <b>shop@tvoyaobuv.ru</b>
                </a>
            </div>
        </div>
    </div>
</section>