<section class="page__section">
    <div class="container">
        <h2 class="title">FAQ</h2>

        <div class="accordion">
            <button class="js-accordion-toggler accordion__toggler" type="button">
                <span class="accordion__toggler-num">01</span>
                <span class="accordion__toggler-title">Какова минимальная сумма заказа?</span>
                <svg aria-hidden="true">
                    <use xlink:href="images/sprite.svg#arrow_icon" />
                </svg>
            </button>
            <div class="accordion__body">
                <p>Минимальная сумма заказа как таковой нет. Отгрузка осуществляется следующим образом:</p>
                <ul>
                    <li>Обувь: от полукороба (ростовка)</li>
                    <li>Сумки: от одной единицы</li>
                    <li>Сопутствующие товары от 3000Р</li>
                </ul>
            </div>
        </div>

        <div class="accordion">
            <button class="js-accordion-toggler accordion__toggler" type="button">
                <span class="accordion__toggler-num">02</span>
                <span class="accordion__toggler-title">Сколько вы даёте времени на оплату счёта?</span>
                <svg aria-hidden="true">
                    <use xlink:href="images/sprite.svg#arrow_icon" />
                </svg>
            </button>
            <div class="accordion__body">
                <p>Минимальная сумма заказа как таковой нет. Отгрузка осуществляется следующим образом:</p>
                <ul>
                    <li>Обувь: от полукороба (ростовка)</li>
                    <li>Сумки: от одной единицы</li>
                    <li>Сопутствующие товары от 3000Р</li>
                </ul>
            </div>
        </div>

        <div class="accordion">
            <button class="js-accordion-toggler accordion__toggler" type="button">
                <span class="accordion__toggler-num">03</span>
                <span class="accordion__toggler-title">Сколько стоит заказать доставку?</span>
                <svg aria-hidden="true">
                    <use xlink:href="images/sprite.svg#arrow_icon" />
                </svg>
            </button>
            <div class="accordion__body">
                <p>Минимальная сумма заказа как таковой нет. Отгрузка осуществляется следующим образом:</p>
                <ul>
                    <li>Обувь: от полукороба (ростовка)</li>
                    <li>Сумки: от одной единицы</li>
                    <li>Сопутствующие товары от 3000Р</li>
                </ul>
            </div>
        </div>

        <div class="accordion">
            <button class="js-accordion-toggler accordion__toggler" type="button">
                <span class="accordion__toggler-num">04</span>
                <span class="accordion__toggler-title">С какими транспортными компаниями вы работаете?</span>
                <svg aria-hidden="true">
                    <use xlink:href="images/sprite.svg#arrow_icon" />
                </svg>
            </button>
            <div class="accordion__body">
                <p>Минимальная сумма заказа как таковой нет. Отгрузка осуществляется следующим образом:</p>
                <ul>
                    <li>Обувь: от полукороба (ростовка)</li>
                    <li>Сумки: от одной единицы</li>
                    <li>Сопутствующие товары от 3000Р</li>
                </ul>
            </div>
        </div>

        <div class="accordion">
            <button class="js-accordion-toggler accordion__toggler" type="button">
                <span class="accordion__toggler-num">05</span>
                <span class="accordion__toggler-title">Когда вы производите отгрузку товара?</span>
                <svg aria-hidden="true">
                    <use xlink:href="images/sprite.svg#arrow_icon" />
                </svg>
            </button>
            <div class="accordion__body">
                <p>Минимальная сумма заказа как таковой нет. Отгрузка осуществляется следующим образом:</p>
                <ul>
                    <li>Обувь: от полукороба (ростовка)</li>
                    <li>Сумки: от одной единицы</li>
                    <li>Сопутствующие товары от 3000Р</li>
                </ul>
            </div>
        </div>

        <div class="accordion">
            <button class="js-accordion-toggler accordion__toggler" type="button">
                <span class="accordion__toggler-num">06</span>
                <span class="accordion__toggler-title">Могу ли я дозаказать товар?</span>
                <svg aria-hidden="true">
                    <use xlink:href="images/sprite.svg#arrow_icon" />
                </svg>
            </button>
            <div class="accordion__body">
                <p>Минимальная сумма заказа как таковой нет. Отгрузка осуществляется следующим образом:</p>
                <ul>
                    <li>Обувь: от полукороба (ростовка)</li>
                    <li>Сумки: от одной единицы</li>
                    <li>Сопутствующие товары от 3000Р</li>
                </ul>
            </div>
        </div>
    </div>
</section>