<section class="features page__section">
    <div class="container">
        <h2 class="features__title title">Почему выбирают<br> именно нас?</h2>

        <p class="features__text"><b>KfL</b> — это не просто оптовый магазин обуви и сумок, который уже более 20 лет успешно работает на рынке. Это гарантия качественной продукции и профессионального обслуживания.</p>

        <div class="features-grid">
            <div class="feature">
                <img src="images/content/why/icon_1.svg" alt="">
                <p class="feature__title">Большой<br> ассортимент</p>
                <p class="feature__text">Каждую неделю мы пополняем наш&nbsp;каталог новыми коллекциями.</p>
            </div>

            <div class="feature">
                <img src="images/content/why/icon_2.svg" alt="">
                <p class="feature__title">Сертифицированная<br> продукция</p>
                <p class="feature__text">Каждая пара сертифицирована и&nbsp;имеет индивидуальную маркировку.</p>
            </div>

            <div class="feature">
                <img src="images/content/why/icon_3.svg" alt="">
                <p class="feature__title">Индивидуальный<br> подход</p>
                <p class="feature__text">Возможно несколько способов оплаты и выкуп разного количества обуви.</p>
            </div>

            <div class="feature">
                <img src="images/content/why/icon_4.svg" alt="">
                <p class="feature__title">Бесплатная<br> доставка</p>
                <p class="feature__text">Бесплатно доставляем заказ по Санкт-Петербургу и до пункта выдачи в другие города.</p>
            </div>
        </div>
    </div>
</section>