<div class="filter">
    <button class="js-filter-closer filter__closer" type="button" title="Закрыть фильтр">
        <svg aria-hidden="true">
            <use xlink:href="images/sprite.svg#close_icon" />
        </svg>
    </button>

    <div class="filter__section">
        <div class="filter__section-title">
            <p class="filter__title">Бренд</p>

            <button class="js-filter-section-toggler filter__toggler is-active" type="button" title="Показать раздел фильтра">
                <svg class="header-logo__text" aria-hidden="true">
                    <use xlink:href="images/sprite.svg#chevron_down" />
                </svg>
            </button>
        </div>
        <div class="filter__section-inner is-open" style="display: block">
            <div class="filter__list">
                <label class="checkbox">
                    <input type="checkbox" name="" value="">
                    <span class="checkbox__icon"></span>
                    <span class="checkbox__text">KfL (10)</span>
                </label>
                <label class="checkbox">
                    <input type="checkbox" name="" value="">
                    <span class="checkbox__icon"></span>
                    <span class="checkbox__text">BONAVI (21)</span>
                </label>
                <label class="checkbox">
                    <input type="checkbox" name="" value="">
                    <span class="checkbox__icon"></span>
                    <span class="checkbox__text">ТОФА (12)</span>
                </label>
                <label class="checkbox">
                    <input type="checkbox" name="" value="">
                    <span class="checkbox__icon"></span>
                    <span class="checkbox__text">MAKFINE (15)</span>
                </label>
                <label class="checkbox">
                    <input type="checkbox" name="" value="">
                    <span class="checkbox__icon"></span>
                    <span class="checkbox__text">ESCAN (8)</span>
                </label>
                <label class="checkbox">
                    <input type="checkbox" name="" value="">
                    <span class="checkbox__icon"></span>
                    <span class="checkbox__text">KfL (10)</span>
                </label>
                <label class="checkbox">
                    <input type="checkbox" name="" value="">
                    <span class="checkbox__icon"></span>
                    <span class="checkbox__text">BONAVI (21)</span>
                </label>
                <label class="checkbox">
                    <input type="checkbox" name="" value="">
                    <span class="checkbox__icon"></span>
                    <span class="checkbox__text">ТОФА (12)</span>
                </label>
                <label class="checkbox">
                    <input type="checkbox" name="" value="">
                    <span class="checkbox__icon"></span>
                    <span class="checkbox__text">MAKFINE (15)</span>
                </label>
                <label class="checkbox">
                    <input type="checkbox" name="" value="">
                    <span class="checkbox__icon"></span>
                    <span class="checkbox__text">ESCAN (8)</span>
                </label>
            </div>
            <button class="js-filter-list-toggler filter__list-toggler" type="button" data-text="скрыть">показать еще</button>
        </div>
    </div>

    <div class="filter__section">
        <div class="filter__section-title">
            <p class="filter__title">Сезон</p>

            <button class="js-filter-section-toggler filter__toggler" type="button" title="Показать раздел фильтра">
                <svg class="header-logo__text" aria-hidden="true">
                    <use xlink:href="images/sprite.svg#chevron_down" />
                </svg>
            </button>
        </div>
        <div class="filter__section-inner">
            <label class="checkbox">
                <input type="checkbox" name="" value="">
                <span class="checkbox__icon"></span>
                <span class="checkbox__text">Демисезонный (21)</span>
            </label>
            <label class="checkbox">
                <input type="checkbox" name="" value="">
                <span class="checkbox__icon"></span>
                <span class="checkbox__text">Зима (32)</span>
            </label>
            <label class="checkbox">
                <input type="checkbox" name="" value="">
                <span class="checkbox__icon"></span>
                <span class="checkbox__text">Лето (11)</span>
            </label>
        </div>
    </div>
</div>