<footer class="footer">
    <div class="footer__inner container">
        <div class="footer__menu-block">
            <ul class="footer-menu">
                <li class="footer-menu__item">
                    <a class="footer-menu__link" href="#">О нас</a>
                </li>
                <li class="footer-menu__item">
                    <a class="footer-menu__link" href="#">Товары</a>
                </li>
                <li class="footer-menu__item">
                    <a class="footer-menu__link" href="#">Условия работы</a>
                </li>
                <li class="footer-menu__item">
                    <a class="footer-menu__link" href="#">Отзывы</a>
                </li>
            </ul>
            <ul class="footer-menu">
                <li class="footer-menu__item">
                    <a class="footer-menu__link" href="#">FAQ</a>
                </li>
                <li class="footer-menu__item">
                    <a class="footer-menu__link" href="#">Новости</a>
                </li>
                <li class="footer-menu__item">
                    <a class="footer-menu__link" href="#">Контакты</a>
                </li>
            </ul>
        </div>

        <div class="footer__subscribe-block">
            <p class="footer__subscribe-title">Подписывайтесь на&nbsp;нашу рассылку!</p>
            <p class="footer__subscribe-text">Рассказываем новостях, скидках, акциях и наших новых коллекциях.</p>
            <form class="subscribe-form" action="">
                <input class="subscribe-form__input" type="text" placeholder="Введите Ваш email">
                <button class="subscribe-form__submit button" type="submit">Подписаться</button>
            </form>
        </div>

        <div class="footer__contacts-block">
            <div class="footer__logo"><img src="images/logo.svg" alt="KFL"></div>

            <p class="footer__contacts-text">
                Магазин оптовой обуви.<br>
                <span>г. Санкт-Петербург, Московский пр. 139 лит. А</span>
            </p>

            <div class="socials-links">
                <a class="social-link" href="#" target="_blank" rel="nofollow noreferrer noopener" title="Мы Вконтакте">
                    <svg aria-hidden="true">
                        <use xlink:href="images/sprite.svg#vk_icon" />
                    </svg>
                </a>

                <a class="social-link" href="#" target="_blank" rel="nofollow noreferrer noopener" title="Наш WhatsApp">
                    <svg aria-hidden="true">
                        <use xlink:href="images/sprite.svg#wa_icon" />
                    </svg>
                </a>
            </div>
        </div>
    </div>
</footer>