<header class="header header--big">
    <div class="header__contacts">
        <div class="header__inner container">
            <div class="header__contacts-block header__address">
                <svg aria-hidden="true">
                    <use xlink:href="images/sprite.svg#pin_icon" />
                </svg>
                г. Санкт-Петербург,<br> Московский пр. 139 лит. А
            </div>

            <div class="header__contacts-block header__email">
                <a href="mailto:shop@tvoyaobuv.ru">
                    <svg aria-hidden="true">
                        <use xlink:href="images/sprite.svg#envelope_icon" />
                    </svg>
                    shop@tvoyaobuv.ru
                </a>
            </div>

            <div class="header__contacts-block header__phones">
                <svg aria-hidden="true">
                    <use xlink:href="images/sprite.svg#phone_icon" />
                </svg>
                <div>
                    <a class="header__phone" href="tel:+79313693456">+7 (931) 369-34-56</a>
                    <a class="header__phone" href="tel:+78126774512">+7 (812) 677-45-12</a>
                    пн - чт с 11:00 до 19:00
                </div>
            </div>

        </div>
    </div>

    <div class="header__inner container">
        <a class="header__logo" href="main.html">
            <span class="header__logo-image">
                <img src="images/logo.svg" alt="KFL">
            </span>
            <svg class="header__logo-arrow" aria-hidden="true">
                <use xlink:href="images/sprite.svg#logo_arrow" />
            </svg>
            <span class="header__logo-text">ТВОЯ<br> МЕЧТА<br> ОБУВЬ <span>KFL</span></span>
        </a>

        <nav class="main-menu">
            <button class="js-main-menu-closer main-menu__closer" type="button" title="Закрыть меню">
                <svg aria-hidden="true">
                    <use xlink:href="images/sprite.svg#close_icon" />
                </svg>
            </button>

            <div class="main-menu__inner">
                <ul class="main-menu__list">
                    <li class="main-menu__item">
                        <a class="main-menu__link" href="#">Каталог</a>
                    </li>
                    <li class="main-menu__item">
                        <a class="main-menu__link" href="#">Условия работы</a>
                    </li>
                    <li class="main-menu__item">
                        <a class="main-menu__link" href="#">Отзывы</a>
                    </li>
                    <li class="main-menu__item">
                        <a class="main-menu__link" href="#">FAQ</a>
                    </li>
                    <li class="main-menu__item">
                        <a class="main-menu__link" href="#">Контакты</a>
                    </li>
                    <li class="main-menu__item main-menu__item--icon">
                        <a class="js-search-opener main-menu__link" href="javascript:void(0)" title="Поиск">
                            <svg aria-hidden="true">
                                <use xlink:href="images/sprite.svg#search_icon" />
                            </svg>
                            <span class="main-menu__link-text">Поиск</span>
                        </a>
                    </li>
                    <li class="main-menu__item main-menu__item--icon">
                        <a class="main-menu__link" href="#" title="Личный кабинет">
                            <svg aria-hidden="true">
                                <use xlink:href="images/sprite.svg#user_icon" />
                            </svg>
                            <span class="main-menu__link-text">Личный кабинет</span>
                        </a>
                    </li>
                    <li class="main-menu__item main-menu__item--icon">
                        <a class="main-menu__link" href="#" title="Корзина">
                            <span class="cart-icon">
                                <svg aria-hidden="true">
                                    <use xlink:href="images/sprite.svg#cart_icon" />
                                </svg>
                                <span class="cart-icon__qnt">99</span>
                            </span>
                            <span class="main-menu__link-text">Корзина</span>
                        </a>
                    </li>
                </ul>
            </div>
        </nav>

        <div class="search-block">
            <button class="js-search-closer search-block__closer" type="button" title="Закрыть поиск">
                <svg aria-hidden="true">
                    <use xlink:href="images/sprite.svg#close_icon" />
                </svg>
            </button>

            <div class="container">
                <form class="search-block__form" action="">
                    <input class="search-block__input input" type="text" placeholder="Введите запрос">
                    <button class="search-block__submit" type="submit" title="Найти">
                        <svg aria-hidden="true">
                            <use xlink:href="images/sprite.svg#search_icon" />
                        </svg>
                    </button>
                </form>
            </div>

        </div>

        <button class="js-main-menu-opener header__burger" type="button" title="Открыть меню">
            <svg aria-hidden="true">
                <use xlink:href="images/sprite.svg#burger_icon" />
            </svg>
        </button>
    </div>
</header>