<section class="page__section">
    <div class="container">
        <div class="need-help">
            <div class="need-help__form-block">
                <h2 class="title">Требуется помощь<br> в подборе товаров<br> для вашего магазина?</h2>

                <p class="need-help__form-text">Оставьте заявку на консультацию и мы перезвоним Вам, чтобы ответить на все вопросы.</p>

                <form action="">
                    <label class="form-label">
                        <input id="name" class="input input--filled" type="text" value="" name="name" placeholder="Ваше Имя">
                    </label>

                    <label class="form-label">
                        <input id="phone" class="input input--filled" type="text" value="" name="phone" placeholder="Укажите Ваш телефон">
                    </label>

                    <label class="form-label">
                        <input id="email" class="input input--filled" type="text" value="" name="email" placeholder="Укажите Вашу почту">
                    </label>

                    <button class="button" type="submit">ЗАКАЗАТЬ ЗВОНОК</button>

                    <label class="checkbox">
                        <input type="checkbox" name="" value="">
                        <span class="checkbox__icon"></span>
                        <span class="checkbox__text">Я согласен с <a href="#">политикой конфиденциальности</a> и на обработку персональных данных</span>
                    </label>
                </form>
            </div>
            <div class="need-help__image">
                <picture>
                    <source srcset="images/content/need-help/img_lg.jpg, images/content/need-help/img_lg@2x.jpg" media="(min-width:1400px)">
                    <img src="images/content/need-help/img_middle.jpg" srcset="images/content/need-help/img_middle@2x.jpg 2x" alt="">
                </picture>
            </div>
        </div>
    </div>
</section>