<section class="page__section">
    <div class="container">
        <h2 class="title">Отзывы</h2>

        <div class="reviews-container">
            <div class="js-reviews reviews">
                <div>
                    <div class="review">
                        <div class="review__text-block">
                            <p class="review__title">
                                <svg aria-hidden="true">
                                    <use xlink:href="images/sprite.svg#quote_icon" />
                                </svg>
                                «Лучшую фразу из отзыва напишите в заголовке»
                            </p>
                            <p class="review__start">«Вставьте отзыв целиком или часть отзыва клиента. Никогда не выдумывайте отзывы самостоятельно. Фальшивые отзывы всегда видно. Будьте честны.</p>
                            <p class="review__end">Опишите конечный результат, который получил человек после работы с вами. Что конкретно ему это дало. Можно описывать результат в цифрах, чтобы была конкретика»</p>
                            <a class="review__all" href="javascript:void(0)" data-fancybox data-src="#review_1">Читать отзыв полностью</a>
                            <div id="review_1" class="popup">
                                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quisquam, ipsa molestiae accusamus, nam earum ut? Repellat explicabo minima optio obcaecati consequatur minus blanditiis iusto harum perferendis similique,
                                    nulla illo quod.</p>
                                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quisquam, ipsa molestiae accusamus, nam earum ut? Repellat explicabo minima optio obcaecati consequatur minus blanditiis iusto harum perferendis similique,
                                    nulla illo quod.</p>
                                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quisquam, ipsa molestiae accusamus, nam earum ut? Repellat explicabo minima optio obcaecati consequatur minus blanditiis iusto harum perferendis similique,
                                    nulla illo quod.</p>
                                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quisquam, ipsa molestiae accusamus, nam earum ut? Repellat explicabo minima optio obcaecati consequatur minus blanditiis iusto harum perferendis similique,
                                    nulla illo quod.</p>
                                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quisquam, ipsa molestiae accusamus, nam earum ut? Repellat explicabo minima optio obcaecati consequatur minus blanditiis iusto harum perferendis similique,
                                    nulla illo quod.</p>
                            </div>
                        </div>

                        <div class="review__author">
                            <div class="review__author-image">
                                <img src="images/content/reviews/img.jpg" srcset="images/content/reviews/img@2x.jpg 2x" alt="">
                            </div>
                            <p class="review__author-name">Иван Демидов</p>
                            <p class="review__author-city">Санкт-Петербург</p>
                        </div>
                    </div>
                </div>

                <div>
                    <div class="review">
                        <div class="review__text-block">
                            <p class="review__title">
                                <svg aria-hidden="true">
                                    <use xlink:href="images/sprite.svg#quote_icon" />
                                </svg>
                                «Лучшую фразу из отзыва напишите в заголовке»
                            </p>
                            <p class="review__start">«Вставьте отзыв целиком или часть отзыва клиента. Никогда не выдумывайте отзывы самостоятельно. Фальшивые отзывы всегда видно. Будьте честны.</p>
                            <p class="review__end">Опишите конечный результат, который получил человек после работы с вами. Что конкретно ему это дало. Можно описывать результат в цифрах, чтобы была конкретика»</p>
                            <a class="review__all" href="javascript:void(0)" data-fancybox data-src="#review_2">Читать отзыв полностью</a>
                            <div id="review_2" class="popup">
                                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quisquam, ipsa molestiae accusamus, nam earum ut? Repellat explicabo minima optio obcaecati consequatur minus blanditiis iusto harum perferendis similique,
                                    nulla illo quod.</p>
                                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quisquam, ipsa molestiae accusamus, nam earum ut? Repellat explicabo minima optio obcaecati consequatur minus blanditiis iusto harum perferendis similique,
                                    nulla illo quod.</p>
                                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quisquam, ipsa molestiae accusamus, nam earum ut? Repellat explicabo minima optio obcaecati consequatur minus blanditiis iusto harum perferendis similique,
                                    nulla illo quod.</p>
                                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quisquam, ipsa molestiae accusamus, nam earum ut? Repellat explicabo minima optio obcaecati consequatur minus blanditiis iusto harum perferendis similique,
                                    nulla illo quod.</p>
                                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quisquam, ipsa molestiae accusamus, nam earum ut? Repellat explicabo minima optio obcaecati consequatur minus blanditiis iusto harum perferendis similique,
                                    nulla illo quod.</p>
                            </div>
                        </div>

                        <div class="review__author">
                            <div class="review__author-image">
                                <img src="images/content/reviews/img.jpg" srcset="images/content/reviews/img@2x.jpg 2x" alt="">
                            </div>
                            <p class="review__author-name">Иван Демидов</p>
                            <p class="review__author-city">Санкт-Петербург</p>
                        </div>
                    </div>
                </div>

                <div>
                    <div class="review">
                        <div class="review__text-block">
                            <p class="review__title">
                                <svg aria-hidden="true">
                                    <use xlink:href="images/sprite.svg#quote_icon" />
                                </svg>
                                «Лучшую фразу из отзыва напишите в заголовке»
                            </p>
                            <p class="review__start">«Вставьте отзыв целиком или часть отзыва клиента. Никогда не выдумывайте отзывы самостоятельно. Фальшивые отзывы всегда видно. Будьте честны.</p>
                            <p class="review__end">Опишите конечный результат, который получил человек после работы с вами. Что конкретно ему это дало. Можно описывать результат в цифрах, чтобы была конкретика»</p>
                            <a class="review__all" href="javascript:void(0)" data-fancybox data-src="#review_3">Читать отзыв полностью</a>
                            <div id="review_3" class="popup">
                                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quisquam, ipsa molestiae accusamus, nam earum ut? Repellat explicabo minima optio obcaecati consequatur minus blanditiis iusto harum perferendis similique,
                                    nulla illo quod.</p>
                                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quisquam, ipsa molestiae accusamus, nam earum ut? Repellat explicabo minima optio obcaecati consequatur minus blanditiis iusto harum perferendis similique,
                                    nulla illo quod.</p>
                                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quisquam, ipsa molestiae accusamus, nam earum ut? Repellat explicabo minima optio obcaecati consequatur minus blanditiis iusto harum perferendis similique,
                                    nulla illo quod.</p>
                                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quisquam, ipsa molestiae accusamus, nam earum ut? Repellat explicabo minima optio obcaecati consequatur minus blanditiis iusto harum perferendis similique,
                                    nulla illo quod.</p>
                                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quisquam, ipsa molestiae accusamus, nam earum ut? Repellat explicabo minima optio obcaecati consequatur minus blanditiis iusto harum perferendis similique,
                                    nulla illo quod.</p>
                            </div>
                        </div>

                        <div class="review__author">
                            <div class="review__author-image">
                                <img src="images/content/reviews/img.jpg" srcset="images/content/reviews/img@2x.jpg 2x" alt="">
                            </div>
                            <p class="review__author-name">Иван Демидов</p>
                            <p class="review__author-city">Санкт-Петербург</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
</section>